doctype html
html
  head
    meta(charset="utf-8")
    title Derek Shiller's Website
    script(src="https://use.fontawesome.com/79ddb5907d.js")
    script(src="./bundle.js" charset="utf-8")
    script (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','https://www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-36693042-1', 'auto'); ga('send', 'pageview');
    link(rel="stylesheet" href="./main.bundle.css")
    script(type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js")
  body
    header.hidden
      div#picturebox
        img(src="./images/avatar.jpg" alt="")
      label
        h1 Derek Shiller
        p#title 
          span.selected Web Developer, 
          | Philosopher

      footer
        ul
          li: a.icon.fa.fa-2x.fa-github(href="http://www.github.com/dcshiller")
          li: a.icon.fa.fa-2x.fa-linkedin(href="https://www.linkedin.com/in/derek-shiller-3a254b121")
          li: a.icon.fa.fa-2x.fa-angellist(href="https://angel.co/derek-shiller")
          li: a.icon.fa.fa-2x.fa-envelope-o(href="mailto:dcshiller@gmail.com")
          li: div
            a.overlayLink(href="assets/resume.pdf")
              span.overlay.resume R
            a.icon.fa-2x.fa.fa-file(href="/assets/resume.pdf")
          li: div
            a.overlayLink(href="assets/CV.pdf")
              span.overlay.cv CV
            a.icon.fa-2x.fa.fa-file(href="/assets/CV.pdf")

    main.hidden
      h1 About Me
      article
        p I'm a web developer at 
          a(href="http://www.thehumaneleague.org") The Humane League
          | . 
          | I come from a background in academic philosophy, where I specialized in metaethics, the philosophy of probability, and the philosophy of mind.
          br
          | On this website, you can find a selection of papers and projects.
      hr

      h1 Projects

      span.linkRow

        button#webbutton Web
        button#philbutton Philosophy
        button#otherbutton Other

      div.philosophy.hidden
        
        h2 Metaethics
        article.project
          .column
            h3 A Primitive Solution to the Negation Problem
              a.icon.fa.fa-file.draft(href="/drafts/DerekShiller.APrimitiveSolutiontotheNegationProblem.pdf")
            br
            .journal Ethical Theory and Moral Practice 2016

        article.project
          .column
            h3 The Problem of Other Attitudes 
            span.journal American Philosophical Quarterly 2017

        article.project
          .column.space-around
            div
              h3 The Unity of Moral Attitudes:
              h4 Recipe Semantics and Credal Exaptation
              span.journal Canadian Journal of Philosophy Forthcoming


        h2 Ethics
        article.project
          .column
            h3 In Defense of Artificial Replacement
            div
            span.journal Bioethics 2017

              // p If it is within our power to provide a significantly better world for future generations at a comparatively small cost to ourselves, we have a strong moral reason to do so. One way of providing a significantly better world may involve replacing our species with something better. It is plausible that in the not-too-distant future, we will be able to create artificially intelligent creatures with whatever physical and psychological traits we choose. Granted this assumption, it is argued that we should engineer our extinction so that our planet's resources can be devoted to making artificial creatures with better lives.

        h2 Mind
        article.project
          .column
            h3 Hidden Qualia
              a.icon.fa.fa-file.draft(href="/drafts/DerekShiller.HiddenQualia.pdf")
            span.journal Review of Philosophy and Psychology 2017
          
      div.webdev.hidden
        h2 Neural Network Project
        article.project
          img(src="./images/screenshots/nnp.png" alt="")
          ul
            p A javascript neural network builder
            span.linkRow
              a(href="http://www.derekshiller.com/nnp/nnp.html") Live
              a(href="http://github.com/dcshiller/nnp") Github

        h2 Where Do They Publish?
        article.project
          img(src="./images/screenshots/WDTP.png" alt="")
          ul
            p A web interface for querying publication metadata
            li Live version written in Go
            span.linkRow
              a(href="http://wheredotheypublish.derekshiller.com") Live

        h2 Philosophy Data Project
        article.project
          img(src="./images/screenshots/pdp.png" alt="")
          ul
            p Web database for philosophy data
            li Written in Rails
            span.linkRow
              a(href="http://github.com/dcshiller/philosophydataproject") Github
              // a(href="http://polar-eyrie-33608.herokuapp.com") Live

        h2 Piper
        article.project
          img(src="./images/screenshots/Piper.png" alt="")
          ul
            p Final project at App Academy
            span.linkRow
              a(href="http://www.derekshiller.com/piper/piper.php") Live
              a(href="http://github.com/dcshiller/piper") Github

        h2 Turing Machine Simulator
        article.project
          img(src="./images/screenshots/TuringMachineSimulator.png" alt="")
          ul
            p A terminal program for creating and running Turing machine programs.
            span.linkRow
              a(href="http://github.com/dcshiller/turing") Github

        h2 ForMu
        article.project
          img(src="./images/screenshots/ForMu.png" alt="")
          ul
            p Final project at App Academy.
            span.linkRow
              a(href="http://formu.derekshiller.com") Live
              a(href="http://github.com/dcshiller/formu") Github

      div.other.hidden
        ul
          li 
            a(href="/appacademy.html") Review of App Academy

  script.
    var el = document.createElement("span");
    el.innerText = "wow";
    
    document.querySelector("body").append(el)

